<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Hola Mundo Controller</title>
        <meta name="description" content="Curso de Angular">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="../node_modules/angular/angular.js"></script>
        <script src="./app.js"></script>
        <script src="./appController.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppController as vm">
        <form>
            <p>Control de operaciones: </p>
            <p>
                <label for="inputName">Incremento</label>
                <input id="inputName" type="number" ng-model="vm.incremento"></input>
            </p>
            <p>   
                <button ng-click="vm.incrementar()">+</button>
                <button ng-click="vm.decrementar()">-</button>
            </p>
            <!--<p>
                <button ng-click="vm.borrar()">Borrar</button>
            </p>-->
        </form>
        <!--<p>Hola Mundo!!!!</p>-->
        <p>Totales</p>
        <p>En el acumulador llevamos: {{vm.total}}</p>
    </body>
</html>